/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .quotation h2 {
    font-size: 20px;
  }

  .quotation h3 {
    font-size: 16px;
  }

  .quotation h4 {
    display: none;
  }

  .second {
    margin-top: 0;
    padding-bottom: 0;
  }

  .contact h4 {
    margin: 0;
  }

  .map {
    height: 500px;
  }

  .contact-data {
    padding: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  .quotation {
    top: 35vh;
  }

  .quotation h2 {
    font-size: 14px;
  }

  .quotation h3 {
    font-size: 12px;
  }

  .quotation h4 {
    display: none;
  }

  .second {
    margin: 0;
  }
} */

@media only screen and (max-width: 550px) {
  .second {
    margin: 0;
  }

  .files .four.columns {
    margin: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .item {
    flex-basis: 100%;
  }

  .number-box,
  .number-box-2,
  .number-box-3,
  .number-box-4,
  .number-box-5,
  .about-us-description,
  .about-us-description-3,
  .about-us-description-5 {
    border: none;
    margin: 0;
  }

  .files .second {
    margin-bottom: 30px;
  }

  .links .six.columns {
    width: 100%;
  }

  .links h3 {
    line-height: 100px;
  }

  .links ul {
    margin-left: 30px;
    margin-bottom: 30px;
  }

  .contact .six.columns {
    width: 100%;
  }

  .contact .map {
    height: 300px;
    width: 100%;
  }

  .contact h4 {
    margin-left: 30px;
    margin-bottom: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .contact-bar {
    display: none;
  }

  header h5,
  header h6 {
    text-align: center;
    margin: 0 auto;
  }

  header .four.columns,
  header .eight.columns {
    width: 100%;
  }

  nav .menu-main {
    display: none;
  }

  .quotation {
    left: 0;
    right: 0;
    top: 20vh;
    text-align: center;
  }

  .offer-button {
    left: 0;
    right: 0;
    top: 60vh;
    margin: 0 auto;
  }

  .offer-button-enterprise {
    margin-top: 70px;
  }

  #hamburger {
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
