/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 550px) {
  .second {
    margin: 0;
    padding-bottom: 30px;
  }

  .files .four.columns {
    margin: 20px;
  }

  .files h6{
    max-width: 300px;
  }

  footer .logo-container img {
    max-width: 180px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
  }
}

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .second {
    padding-bottom: 0;
  }

  .contact h4 {
    margin: 0;
  }

  .map {
    height: 500px;
  }

  .contact-data {
    padding: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

  .quotation h2,
  .quotation h3 {
    display: none;
  }

  .offer-button {
    top: 50vh;
  }

  .scroll {
    right: 25px;
    bottom: 25px;
    width: 40px;
    height: 40px;
  }

  .scroll i {
    font-size: 18px;
  }

  .item {
    flex-basis: 100%;
  }

  .number-box,
  .number-box-2,
  .number-box-3,
  .number-box-4,
  .number-box-5,
  .number-box-6,
  .about-us-description,
  .about-us-description-3,
  .about-us-description-4,
  .about-us-description-5,
  .about-us-description-6 {
    border: none;
    margin: 0;
  }

  .about-us-description-6 p {
    border: none;
  }

  .services p {
    margin: 0;
    padding: 0;
  }

  .files .second {
    margin-bottom: 30px;
  }

  .links .six.columns {
    width: 100%;
  }

  .links h3 {
    line-height: 100px;
  }

  .links ul {
    margin-left: 30px;
    margin-bottom: 30px;
  }

  .contact .six.columns {
    width: 100%;
  }

  .contact .map {
    height: 300px;
    width: 100%;
    border-top: 3px solid #1D5F9C;
  }

  .contact h4 {
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .contact p {
    padding-bottom: 40px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .contact-bar {
    display: none;
  }

  header h5,
  header h6 {
    text-align: center;
    margin: 0 auto;
  }

  header .four.columns,
  header .eight.columns {
    width: 100%;
  }

  nav .menu-main {
    display: none;
  }

  .quotation {
    left: 0;
    right: 0;
    top: 28vh;
    text-align: center;
  }

  .offer-button {
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .offer-button-enterprise {
    margin-top: 70px;
  }

  #hamburger {
    display: block;
  }
}
