body {}

/* HEADER -----------------------------*/

header {
  color: white;
}

.top-nav {
  padding: 30px 0px 30px 0px;
  position: absolute;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#slider {
  width: 100%;
  max-height: 800px;
  position: relative;
  /*    overflow: hidden;*/
}

.slider-overlay {
  background-color: blue;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-slider img {
  width: 100%;
}

nav h6 a {
  text-decoration: none;
  color: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-left: 20px;
}

nav li a {
  text-decoration: none;
  color: white;
}

.quotation {
  position: absolute;
  z-index: 2;
  top: 40vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.offer-button{
  position: absolute;
  background: linear-gradient(to right, #FF8A00, #FF5E2B);
  border: none;
  z-index: 2;
  top: 70vh;
  padding: 0 70px 0 70px;
  margin-right: auto;
  left: 0;
  right: 0;
}

.offer-button:hover{
  color: inherit;
}

.scroll-down{
  position: absolute;
  z-index: 2;
  top: 90vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.scroll-down:hover{
  color: inherit;
}

/* END OF HEADER -------------------------*/

.services{
  margin-top: 100px;
  background-color: white;
}

.number-box{
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  text-align: right;
}

.number-box span{
  position: absolute;
  font-size: 90px;
  color: orange;
  bottom: 0px;
  right: 45px;
}

.number-box p{
  font-size: 160px;
  color: lightgrey;
  position: relative;
  margin: 10px;
    margin-right: 50px;
}
