body {}

/* HEADER -----------------------------*/

header {
  color: white;
}

.top-nav {
  padding: 30px 0px 30px 0px;
  position: absolute;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#slider {
  width: 100%;
  max-height: 100%;
  position: relative;
  /*    overflow: hidden;*/
}

.slider-overlay {
  background-color: blue;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-slider img {
  height: 100vh;
  width: 100vw;
}

nav a{
  text-decoration: none;
  color: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-left: 20px;
}

.quotation {
  position: absolute;
  z-index: 2;
  top: 40vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.offer-button-individual{
  position: absolute;
  background: linear-gradient(to right, #FF8A00, #FF5E2B);
  border: none;
  z-index: 2;
  top: 70vh;
  padding: 0 70px 0 70px;
  margin-right: auto;
  left: 0;
  right: 0;
}

.offer-button-enterprise{
  position: absolute;
  background: linear-gradient(to right, #FF8A00, #FF5E2B);
  border: none;
  z-index: 2;
  top: 76vh;
  padding: 0 53px 0 70px;
  margin-right: auto;
  left: 0;
  right: 0;
}

.offer-button:hover{
  color: inherit;
}

.scroll-down{
  position: absolute;
  z-index: 2;
  top: 90vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.scroll-down:hover{
  color: inherit;
}

/* END OF HEADER -------------------------*/
/* ABOUT US ------------------------------*/

.services{
  margin-top: 100px;
  background-color: white;
}

.services .six.columns{
  margin:0;
  padding:0;
}

.number-box{
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  text-align: right;
  margin-left: 130px;
}

.number-box span{
  position: absolute;
  font-size: 90px;
  color: #F17F42;
  bottom: 0px;
  right: 45px;
}

.number-box p{
  font-size: 160px;
  color: lightgrey;
  position: relative;
  margin: 10px;
  margin-right: 50px;
}

.about-us-description{
  padding: 20px;
  border-right: 1px solid lightgrey;
}

.about-us-description p{
  margin-right: 40px;
}

.number-box-2{
  margin-top: 100px;
}

.number-box-2 span{
  position: absolute;
  font-size: 90px;
  color: #F17F42;
  bottom: 0px;
  left: 0px;
}

.number-box-2 p{
  font-size: 160px;
  color: lightgrey;
  position: relative;
}

.about-us-description-2 p{
  padding: 20px;
  border-left: 1px solid lightgrey;
}
