RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]
RewriteRule ^index\.html$ / [NC,R,L]
RedirectMatch 301  https://www.kancelarie-chmielewscy.pl http://www.kancelarie-chmielewscy.pl

<FilesMatch "\.(jpg|png|css|js|doc)$">
Header set Cache-Control "max-age=604800"
</FilesMatch>

<Files .htaccess>
order allow,deny
deny from all
</Files>
